.container {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap; 
  margin-top: 40px;
}

.pesquisa {
  display: flex;
  justify-content: flex-end; 
  padding: 10px;
  width: 100%;
  margin-top: 40px;
}

input {
  border-radius: 50px;
}


.navbar {
 background-color: #0A3161;
}

.institui {
  width: 1000px;
  height: 300px;
  margin-left: 490px;
  margin-top: 10px;
}

.nomes {
  margin-left: 90px;
  margin-top: -50px;
  font-weight: bold;
  width: 100px; 
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  text-align: center;
}

.nomes2 {
  margin-top: -50px;
  margin-left: 90px;
  font-weight: bold;
  width: 100px; 
  word-wrap: break-word; 
  overflow-wrap: break-word;
  text-align: center;
}

.nomes3 {
  margin-left: 90px;
  margin-top: -50px;
  font-weight: bold;
  width: 100px; 
  word-wrap: break-word; 
  overflow-wrap: break-word;
  text-align: center;
}

.institui2 {
  width: 1000px;
  height: 300px;
  margin-left: 490px;
  margin-top: -30px;
}


