
form {
    border-radius: 10px ;
    width: 800px;
    margin-left: 570px;
    margin-top: 100px;

}

.botao {
    display: flex;
    justify-content: center;
}

#input{
    border: solid 1px;
    color: #0A3161;
}