.conteudo{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.projetos{
    margin-top: 50px;
    margin-left: 250px;
    width: 800px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.perfil{
    /* margin-top: 30px; */
    margin-left: 200px;
    width: 800px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}