

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 2px solid #0a3161;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .navbar-logo img {
    width: 129px;
    height: 50px;
    margin-right: 8px;
  }
  
  .navbar-logo span {
    font-size: 16px;
    font-weight: bold;
    opacity: 80%;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .navbar-search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
  }
  
  .navbar-search input {
    border: none;
    outline: none;
    width: 150px;
    height: 30px;
    
  }
  
  .navbar-search button {
    background: none;
    border: none;
    cursor: pointer;
    
  }
  
  .navbar-icons span {
    margin: 0 5px;
    cursor: pointer;
  }
  
  .navbar-profile img {
    width: 50px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    padding-right: 30px;
  }
  